<div>
    <p> Hi! <%= comment.user.name%> </p>
    <br>
    <br>
    <p>Your comment  <strong><%= comment.content%> Just got published on codeial</strong>  </p>
    <br>
    <br>
    <p>Thanks</p>
</div>