<div>
    <p> Hi!
    <br>
    <br>
    <p>Please click on the link/copy-paste the link as URL</p>

    <p>
        <strong>http://localhost:8000/users/reset-password/<%= token._id%> </strong>
    </p>
    <br>
    <br>
    <p>Thanks</p>
</div>